* {
    margin: 0;
    padding: 0;
}

.textura-fundo {
    background-color: rgb(117, 117, 117);
    display: block;
    position: absolute;
    top: 14%;
    height: 55%;
    width: 100%;
}

body {
    background-color: rgb(168, 167, 167);
}

div {
    font-size: xx-large;
    text-align: center;
    font-family: monospace;
    margin: 10px 0px 0px 0px;
}

.nome {
    font-weight: bold;
}

.apresentacao-um {
    position: absolute;
    text-align: center;
    top: 15%;
    right: 70%;
    font-size: x-large;
    background-color: rgb(117, 117, 117);
}

.apresentacao-um p {
    position: relative;
    text-align: left;
    width: 300px;
    font-size: large;
    display: inline-block;
    margin: 10px
}

.apresentacao-um li {
    position: relative;
    text-align: left;
    width: 300px;
    display: inline-block;
    font-size: large;
}

.apresentacao-um ul>li>ul>li {
    position: relative;
    left: 10%;
    margin: 2px;
}

.apresentacao-dois {
    position: absolute;
    text-align: center;
    top: 15%;
    right: 42%;
    font-size: x-large;
    width: 400px;
}

.apresentacao-dois li {
    font-size: large;
    text-align: left;
}

.apresentacao-tres {
    position: absolute;
    text-align: center;
    top: 15%;
    right: 15%;
    font-size: x-large;
}

.apresentacao-tres form {
    font-size: large;
    text-align: left;
}

.texto-form {
    height: 70px;
}



input {
    border: 0;
    background-color: rgb(207, 207, 207);
    margin: 2px;
    width: 200px;
}


.apresentacao-tres li {
    font-size: large;
    text-align: left;
}

